<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - SistemaPV</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css">

    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="stylesheet" href="~/css/style.css" />
</head>
<body id="body-pd">
    <header class="header" id="header">
        <div class="header_toggle" id="hamburguesa">
            <i class='bi bi-arrow-bar-right' id="header-toggle"></i>
        </div>
        <div >
            @if (this.User.Identity.IsAuthenticated)
            {
                <div>@this.User.Identity.Name</div>
                <div style="display:flex; justify-content:right; margin:0"><a asp-area="" asp-controller="Account" asp-action="Logout"><i class="bi bi-box-arrow-left nav_icon"></i>  Logout</a></div>

            }
            else
            {
                <div><a asp-area="" asp-controller="Account" asp-action="Login" >Login</a></div>
            }
            <!--<i class="bi bi-info-circle-fill"></i>-->
        </div>
    </header>
    <div class="l-navbar" id="nav-bar">
        <nav class="nav" style="color: #AFA5D9">
            <div>
                <a class="nav_logo nav_link active" asp-area="" asp-controller="Home" asp-action="Index">
                    <i class="bi bi-house-door-fill nav_logo-icon"></i>
                    <span class="nav_logo-name">SistemaPV</span>
                </a>
                <div class="nav_list">
                    @if (this.User.IsInRole("Salesman"))
                    {
                        <a class="nav_link" asp-area="" asp-controller="CProducts" asp-action="Index">
                            <i class="bi bi-box-seam nav_icon"></i>
                            <span class="nav_name">Productos</span>
                        </a>

                        <a class="nav_link" asp-area="" asp-controller="CSales" asp-action="Index">
                            <i class="bi bi-cart-plus"></i>
                            <span class="nav_name">Ventas</span>
                        </a>
                    }

                    @if (this.User.IsInRole("Manager"))
                    {
                        <a class="nav_link" asp-area="" asp-controller="CBrands" asp-action="Index">
                            <i class="bi bi-tags-fill nav_icon"></i>
                            <span class="nav_name">Marcas</span>
                        </a>
                        <a class="nav_link" asp-area="" asp-controller="CCategories" asp-action="Index">
                            <i class="bi bi-layers-fill nav_icon"></i>
                            <span class="nav_name">Categorías</span>
                        </a>
                        <a class="nav_link" asp-area="" asp-controller="CProducts" asp-action="Index">
                            <i class="bi bi-box-seam nav_icon"></i>
                            <span class="nav_name">Productos</span>
                        </a>

                        <a class="nav_link" asp-area="" asp-controller="CPurchases" asp-action="Index">
                            <i class="bi bi-bag"></i>
                            <span class="nav_name">Compras</span>
                        </a>

                        <a class="nav_link" asp-area="" asp-controller="CSales" asp-action="Index">
                            <i class="bi bi-cart-plus"></i>
                            <span class="nav_name">Ventas</span>
                        </a>

                        <a class="nav_link dropdown-button" style="margin:0">
                            <i class="bi bi-person-fill nav_icon"></i>
                            <span class="nav_name">Usuarios</span>
                        </a>
                        <div class="dropdown-container" style="display:none">
                            <a class="nav_link drop" style="margin:0" asp-area="" asp-controller="CSalesmen" asp-action="Index"><i class="bi bi-wallet2 nav_icon"></i>Vendedores</a>
                        </div>
                    }

                    @if (this.User.IsInRole("Admin"))
                    {
                        <a class="nav_link" asp-area="" asp-controller="CBrands" asp-action="Index">
                            <i class="bi bi-tags-fill nav_icon"></i>
                            <span class="nav_name">Marcas</span>
                        </a>
                        <a class="nav_link" asp-area="" asp-controller="CCategories" asp-action="Index">
                            <i class="bi bi-layers-fill nav_icon"></i>
                            <span class="nav_name">Categorías</span>
                        </a>
                        <a class="nav_link" asp-area="" asp-controller="CProducts" asp-action="Index">
                            <i class="bi bi-box-seam nav_icon"></i>
                            <span class="nav_name">Productos</span>
                        </a>
                        <a class="nav_link" asp-area="" asp-controller="CPurchases" asp-action="Index">
                            <i class="bi bi-bag"></i>
                            <span class="nav_name">Compras</span>
                        </a>
                        <a class="nav_link" asp-area="" asp-controller="CSales" asp-action="Index">
                            <i class="bi bi-cart-plus"></i>
                            <span class="nav_name">Ventas</span>
                        </a>
                        <a class="nav_link dropdown-button" style="margin:0">
                            <i class="bi bi-person-fill nav_icon"></i>
                            <span class="nav_name">Usuarios</span>
                        </a>

                        <div class="dropdown-container" style="display:none">
                            <a class="nav_link drop" style="margin:0" asp-area="" asp-controller="CManagers" asp-action="Index"><i class="bi bi-briefcase nav_icon"></i>Gerentes</a>
                            <a class="nav_link drop" style="margin:0" asp-area="" asp-controller="CSalesmen" asp-action="Index"><i class="bi bi-wallet2 nav_icon"></i>Vendedores</a>
                        </div>
                    }
                </div>
            </div> 
        </nav>
    </div>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="~/js/dropdown.js"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>
