@model SistemaPV.Data.Entities.CManager

@{
    ViewData["Title"] = "Delete";
}

<h1>Borrar gerente</h1>

<h3>¿Estás seguro de que deseas borrar el gerente?</h3>
<div>
    <h4>Gerente</h4>
    <hr />
    <dl class="row">
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Borrar" class="btn btn-danger" /> |
        <a asp-action="Index">Volver a gerentes</a>
    </form>
</div>
