@model SistemaPV.Data.Entities.CManager

@{
    ViewData["Title"] = "Details";
}

<h1>Detalles</h1>

<div>
    <h4>Gerente</h4>
    <hr />
    <dl class="row">
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Editar</a> |
    <a asp-action="Index" class="button"><i class="bi bi-arrow-return-left"></i></a>
</div>
