@{
    ViewData["Title"] = "Home Page";
}
@if (this.User.IsInRole("Admin") || this.User.IsInRole("Manager")||this.User.IsInRole("Salesman"))
{
    <div class="text-center">
        <h1 class="display-4">Bienvenido</h1>
    </div>
}


<main class="mt-2 pt-3">
    <div class="container-fluid">

        @{

            if (this.User.IsInRole("Admin") || this.User.IsInRole("Manager"))
            { <div class="row">
                    <div class="col-md-12">
                        <h4>Dashboard</h4>
                    </div>
                </div>
              <div class="row">
                  <div class="col-md-3 mb-3">
                      <a asp-controller="CSales" asp-action="Index">
                          <div class="card bg-primary border-0 text-white h-100">
                              <div class="card-body py-5">Ventas</div>
                              <div class="card-footer d-flex">
                                  Ver detalles
                                  <span class="ms-auto">
                                      <i class="bi bi-chevron-right"></i>
                                  </span>
                              </div>
                          </div>
                      </a>
                  </div>
                  <div class="col-md-3 mb-3">
                      <a asp-controller="CProducts" asp-action="Index">
                          <div class="card bg-primary border-0 text-white h-100">
                              <div class="card-body py-5">Productos</div>
                              <div class="card-footer d-flex">
                                  Ver detalles
                                  <span class="ms-auto">
                                      <i class="bi bi-chevron-right"></i>
                                  </span>
                              </div>
                          </div>
                      </a>
                  </div>
                  <div class="col-md-3 mb-3">
                      <a asp-controller="CBrands" asp-action="Index">
                          <div class="card bg-primary border-0 text-white h-100">
                              <div class="card-body py-5">Marcas</div>
                              <div class="card-footer d-flex">
                                  Ver detalles
                                  <span class="ms-auto">
                                      <i class="bi bi-chevron-right"></i>
                                  </span>
                              </div>
                          </div>
                      </a>
                  </div>
                  <div class="col-md-3 mb-3">
                      <a asp-controller="CCategories" asp-action="Index">
                          <div class="card bg-primary border-0 text-white h-100">
                              <div class="card-body py-5">Categorías</div>
                              <div class="card-footer d-flex">
                                  Ver detalles
                                  <span class="ms-auto">
                                      <i class="bi bi-chevron-right"></i>
                                  </span>
                              </div>
                          </div>
                      </a>
                  </div>
              </div>
            }
        }
    </div>
</main>
