@model SistemaPV.Data.Entities.CSaleDetail

@{
    ViewData["Title"] = "Delete";
}

<h1>Borrar detalle de venta</h1>

<h3>¿Estás seguro de que deseas borrar el detalle de venta?</h3>
<div>
    <h4>Detalle de venta</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Total)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Total)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Borrar" class="btn btn-danger" /> |
        <a asp-action="Index">Volver a detalles de venta</a>
    </form>
</div>
